<section class="banner">
  <div class="banner__content">
    <div class="bannerContent">
      <div class="bannerContent__banner" [ngStyle]="{backgroundImage: 'url(' + imageUrl + ')'}"></div>
      <div class="bannerContent__shadow"></div>
      <div class="bannerContent__text">
        <div class="bannerContentText">
          <span class="bannerContentText__title">Enjoy Your Dream Vacation</span>
          <span class="bannerContentText__subTitle">Travel to the any corner of the world, without going around in circles.</span>
        </div>
      </div>
    </div>
  </div>
</section>
