<agm-map [latitude]="latitude" [longitude]="longitude">
  <app-map-direction
    *ngFor="let marker of markers; let index = index"
    [originMarker]="marker"
    [destinationMarker]="markers[index + 1] || markers[0]"
  ></app-map-direction>
</agm-map>

<!--<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="13">-->
  <!--<agm-marker-->
    <!--[latitude]="latitude"-->
    <!--[longitude]="longitude"-->
    <!--[iconUrl]="iconUrl"-->
  <!--&gt;-->
    <!--<agm-info-window>-->
      <!--Hi, this is the content of the <strong>info window</strong>-->
    <!--</agm-info-window>-->
  <!--</agm-marker>-->
<!--</agm-map>-->
