<div class="advantages">
  <div class="advantages__title">
    <h2>Почему мы</h2>
  </div>
  <div class="advantages__content">
    <div class="advantage">
      <div class="advantage__image">
        <img src="../../../assets/home-icon1.png" alt="consulting">
      </div>
      <div class="advantage__title"><h3>Консультация по всем вопросам</h3></div>
      <div class="advantage__text">
        <p>Vaserbo nerafaes sety krsca kertyu ersvitae ertyasnemo lasec vasptaia goertayse. Lerernatur aut oditaut. Vinequuntur miloreo qui ratione voluptate kjahsaus msequi nesciunt, neque porro quisquam est.</p>
      </div>
    </div>
    <div class="advantage">
      <div class="advantage__image">
        <img src="../../../assets/home-icon2.png" alt="hot tours">
      </div>
      <div class="advantage__title"><h3>Горячие туры</h3></div>
      <div class="advantage__text">
        <p>Vaserbo nerafaes sety krsca kertyu ersvitae ertyasnemo lasec vasptaia goertayse. Lerernatur aut oditaut. Vinequuntur miloreo qui ratione voluptate kjahsaus msequi nesciunt, neque porro quisquam est.</p>
      </div>
    </div>
    <div class="advantage">
      <div class="advantage__image">
        <img src="../../../assets/home-icon3.png" alt="travel guid">
      </div>
      <div class="advantage__title"><h3>Лучшие гиды</h3></div>
      <div class="advantage__text">
        <p>Vaserbo nerafaes sety krsca kertyu ersvitae ertyasnemo lasec vasptaia goertayse. Lerernatur aut oditaut. Vinequuntur miloreo qui ratione voluptate kjahsaus msequi nesciunt, neque porro quisquam est.</p>
      </div>
    </div>
    <div class="advantage">
      <div class="advantage__image">
        <img src="../../../assets/home-icon4.png" alt="info">
      </div>
      <div class="advantage__title"><h3>Полезная информация</h3></div>
      <div class="advantage__text">
        <p>Vaserbo nerafaes sety krsca kertyu ersvitae ertyasnemo lasec vasptaia goertayse. Lerernatur aut oditaut. Vinequuntur miloreo qui ratione voluptate kjahsaus msequi nesciunt, neque porro quisquam est.</p>
      </div>
    </div>
  </div>
</div>
