@import "./app/util/variables";

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, span, a, button, div {
  font-family: Comfortaa, arial, serif, sans-serif;
}

.modalWindow--open {
  position: relative;
  overflow: hidden;
}

.markerOption {
  overflow: hidden;

  &__image {
    width: 300px;
    height: 180px;
    overflow: hidden;

    & img {
      width: 100%;
    }
  }

  &__title {
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
  }
}
