@import "../../../util/variables";

.topTour {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0 solid transparent;
  border-radius: 4px;
  background-color: @white;
  cursor: pointer;
  transition: all .2s;
  box-shadow: 0 0 20px -6px rgba(0,0,0,0.24);

  &__image, &__info {
    width: 50%;
    box-sizing: border-box;
  }

  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px 0 0 4px;
  }

  &__info {
    position: relative;
    padding: 20px;
    box-sizing: border-box;

    & h3 {
      text-align: right;
      font-size: 22px;
      color: @black;
      transition: color .2s;
    }

    & h4 {
      margin-top: 10px;
      text-align: right;
      font-size: 16px;
      color: @greyLight;
    }

    & p {
      height: 60px;
      line-height: 1.4;
      margin-top: 20px;
      font-size: 14px;
      overflow: hidden;
      color: @greyLight;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & span {
      margin-top: 6px;
      font-size: 16px;
      color: @greyLight;
    }

    & strong {
      font-size: 14px;
      color: @primaryOrange;
    }
  }

  &:hover {
    box-shadow: 5px 6px 29px -1px rgba(0,0,0,.24);

    & h3 {
      color: @primaryOrange;
    }
  }
}
