<article class="topTour">
  <div class="topTour__image" [style.background-image]="'url(' + tour.imageUrl + ')'"></div>
  <div class="topTour__info">
    <h3>{{ tour.title }}</h3>
    <h4>{{ tour.subTitle }}</h4>
    <div class="topTour__price">
      <span title="Длительность поездки">
        <strong>
          <fa name="clock-o"></fa>
        </strong>
        {{ getDurationTime(tour.duration) }}
      </span>
      <span title="Стоимость поездки">
        <strong>
          <fa name="money"></fa>
        </strong>
        {{ tour.price }}₽/человек
      </span>
    </div>
    <p>{{ tour.description }}</p>
  </div>
</article>
